.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os botões */
  margin-top: 20px;
}
